# Ignore Mac system files
.DS_store

# Ignore R and jupyter 
.ipynb_checkpoints

# Ignore node_modules folder
archive
team
exam
syllabus
keys
homework/lahmansbaseballdb.sqlite
data/readme2019.txt
data/lahmansbaseballdb.sqlite
data/dogs_full.csv
data/fluidmilk.xlsx
data/yolo_food.feather
